.profile-panel {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 90px;
  height: 90px;
  margin: 20px;
}

.info {
  display: inline-block;
}

.title {
  font-weight: bold;
  color: teal;
  cursor: pointer;
}

.cp {
  cursor: pointer;
}

.change-profile {
  max-width: 400px;
  text-align: center;
  position: absolute;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border: 2px solid teal;
  background: white;
  padding-bottom: 10px;
  width: 85%;
  margin-bottom: auto;
  margin-top: auto;
  top: 50%;
  transform: translateY(-50%);
  touch-action: none;
}

.btn {
  margin-left: 10px;
}

.img-cropper {
  padding: 10px;
}
