<!-- <app-page-header header="Profilo" icon="account_circle"></app-page-header> -->
<div *ngIf="user$ | async as user" class="profile-panel">
  <img src="{{user.photoUrl}}" alt="{{user.name}}" class="circle user-avatar cp" (click)="input.click()" *ngIf="!showCropper">
  <img alt="Önizleme" [src]="croppedImage" class="circle user-avatar" *ngIf="showCropper">

  <div class="info">
    <div class="title flow-text" *ngIf="!editName" (click)="editMode()">{{user.name | uppercase}}
      <i class="material-icons">edit</i>
    </div>
    <input #nameInput class="title" *ngIf="editName" placeholder="Isim Giriniz" autofocus (blur)="updateName()" value="{{user.name}}"
      (keydown.enter)="updateName()">
    <div *ngIf="user.email">Email : {{user.email}}</div>
    <div *ngIf="user.phoneNumber">Tel : {{user.phoneNumber}}</div>
    <div>Son giriş : {{user.lastLogin.toDate() | date:'yyyy-MM-dd HH:mm'}}</div>
  </div>
</div>

<div class="collection cp" (click)="input.click()">
  <form #form>
    <input type="file" (change)="uploadFile($event)" hidden #input accept="image/x-png,image/gif,image/jpeg" />
  </form>
  <a class="collection-item">
    <div>Profil resmi değiştir
      <div class="secondary-content">
        <i class="material-icons">arrow_forward_ios</i>
      </div>
    </div>
  </a>
</div>

<div *ngIf="showCropper" class="collection change-profile">
  <div> Resmi boyutlandırın
      <div>
          <a class="btn" (click)="startUpload()">Tamam</a>
          <a class="btn  blue-grey lighten-2" (click)="cancelUpload()">Vazgeç</a>
        </div>
  </div>
  <div class="progress" *ngIf="showUpload">
      <div class="indeterminate"></div>
    </div>
  <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="1/1" [resizeToWidth]="90"
    format="jpeg" (imageCroppedBase64)="imageCroppedBase64($event)" class="img-cropper"></image-cropper>
</div>


<div class="collection">
  <div class="collection-item">
    <app-build-info></app-build-info>
  </div>
</div>
<div class="collection cp" (click)="logout()">
  <a class="collection-item">
    <div>Çıkış
      <div class="secondary-content">
        <i class="material-icons">power_settings_new</i>
      </div>
    </div>
  </a>
</div>
