<app-page-header header="Sohbetler" icon="message"></app-page-header>
<ng-container *ngIf="rooms$ | async as rooms">
  <div class="collection">
    <ng-container *ngFor="let room of rooms">
      <a [ngClass]="{'collection-item avatar':true, 'new-message':room.hasUnread }" (click)="gotoChatRoom(room)">
        <img src="{{room.photoUrl}}" alt="" class="circle">
        <b> {{room.roomName | uppercase}}</b>
        <div class="message">
          {{room.lastMessage.message}} - {{room.lastMessage.timestamp.toDate() | date:'HH:mm:ss' }}
          <ng-container *ngIf="room.hasUnread"> (Yeni Mesaj)</ng-container>
        </div>
        <div class="secondary-content">
          <i class="material-icons">arrow_forward_ios</i>
        </div>
      </a>
    </ng-container>
  </div>
</ng-container>
<ng-container *ngIf="rooms$ | async as rooms">
  <ng-container *ngIf="rooms!=null && rooms.length ==0">
    <div class="collection">
      <div class="collection-item" routerLink="/user-list">
        Henüz bir sohbet başlatmadınız.
        <div class="secondary-content">Ekle
          <i class="material-icons right">group_add</i>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
