:host {
  display: flex;
  flex-direction: column
}

.router-wrapper {
  flex: 1;
  display: flex;
  overflow-y: auto;
}


.nav {
  width: 100%;
  height: 56px;
  line-height: 56px;
  display: flex;
  color: white;
  font-size: 12px;
}

.icon-wrapper {
  flex: 1;
}

.nav .active {
  background-color: rgba(0, 0, 0, 0.1);
}

.notification-wrapper {
  position: relative;
}

.notification-counter {
  position: absolute;
  color: black;
  top: 0;
  line-height: 24px;
  color: white;
  background: red;
  font-weight: bold;
  right: 0;
  border-radius: 50%;
  line-height: 22px;
  height: 22px;
  width: 22px;
  text-align: center;
  font-family: monospace;
  font-size: 15px;
}

.icon-wrapper {
  display: flex;
}

.icon-wrapper .item {
  flex: 1;
  display: flex;
  cursor: pointer;
}

.icon-wrapper .item:not(:first-of-type) {
  border-left: 2px solid #00877a;
}

.icon-wrapper div:focus,
.icon-wrapper div:active {
  outline: none;
}

.my-chats {
  position: relative;
  z-index: 0;
}

.item i {
  padding-left: 15px;
  padding-right: 15px;
  flex: 2;
  align-self: center;
}

.item .title {
  flex: 6;
}

@media only screen and (max-width: 600px) {
  .icon-wrapper .item {
    flex-direction: column;
    text-align: center;
  }
  .nav {
    line-height: 14px;
  }
  .item i {
    flex: 1;
    line-height: 36px;
  }
  .item .title {
    flex: 1;
  }
}
