<div class="router-wrapper">
  <router-outlet class="inner-router"></router-outlet>
</div>
<div class="nav teal">
  <div class="icon-wrapper">
    <div routerLink="chat" routerLinkActive="active" title="Genel Sohbet" class="item">
      <i class="material-icons icon">home</i>
      <div class="title">Genel Sohbet</div>
    </div>
    <div routerLink="user-list" routerLinkActive="active" title="Yeni Sohbet" class="user-list item">
      <i class="material-icons icon">group_add</i>
      <div class="title">Kullanıcılar</div>
    </div>
    <div routerLink="my-chats" routerLinkActive="active" class="notification-wrapper" title="Sohbetler" class="my-chats item">
      <i class="material-icons icon">message</i>
      <div class="title">Sohbetler</div>
      <div *ngIf="(count$ | async) > 0" class="notification-counter">{{count$ | async}}</div>
    </div>
    <div routerLink="my-profile" routerLinkActive="active" title="Profil" class="item">
      <i class="material-icons icon">settings</i>
      <div class="title">Ayarlar</div>
    </div>
  </div>
</div>
