<app-page-header header="Kullanıcılar" icon="group_add"></app-page-header>
<div class="collection">
  <a [ngClass]="{'collection-item avatar':true, 'me':user.id== authService.user.id}" *ngFor="let user of users$ | async" (click)="personalMessageToUser(user)">
    <img src="{{user.photoUrl}}" alt="" class="circle">{{user.name | uppercase}}
    <div>Son giriş: Gizli </div>
    <div class="secondary-content" *ngIf="user.id!= authService.user.id">
      <i class="material-icons">arrow_forward_ios</i>
    </div>
    <b *ngIf="user.admin" class="admin">
      <i class=" material-icons">school</i>
      <span> (Yetkili bir abi)</span>
    </b>
  </a>
