<div class="chat-wrapper">
  <div reversed [ngClass]="{'collection':true,'my-message' : msg.username ==uname}" *ngFor="let msg of messages;trackBy:identify">
    <app-chat-message-displayer [msg]="msg"></app-chat-message-displayer>
  </div>
</div>
<div class="chat-input" >
  <div class="container chat-input-container">
    <a class="btn-floating send-button btn-small" (mousedown)="sendMessage($event,input)" *ngIf="focused || true">
      <i class="material-icons">send</i>
    </a>
    <input class="browser-default" #input type="text" placeholder="Bişiler yazın" (keyup.enter)="sendMessage($event,input)" (focus)="focused=true"
      (blur)="focused=false">
  </div>
</div>
