:host{
  display: flex;
  flex-direction: column;
  flex: 1;
}
.chat-wrapper {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  flex: 1;
}

.my-message {
  color: #009688;
}

.chat-input {
  width: 100%;
  background: white;
  left: 0;
  right: 0;
}

.chat-input input {
  border: 2px solid teal;
  border-radius: 25px;
  width: 100%;
  height: 42px;
  padding-left: 10px;
  color: teal;
  font-size: 16px;
  padding-right: 50px;
}

.chat-input input:focus {
  outline: none;
}

.send-button {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.collection {
  margin-bottom: -1px !important;
  margin-top: 0px !important;
  flex-shrink: 0;
}

.chat-input-container {
  position: relative;
}
