<div class="collection-item avatar">
  <img src="{{msg.photo}}" alt="" class="circle">
  <p> {{msg.username | uppercase}} - {{msg.timestamp.toDate() | date:'HH:mm:ss'}}</p>
  <p>
    {{msg.message}}
  </p>
</div>
