/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.collection .collection-item.avatar {
  min-height: 60px !important;
}

router-outlet.main-router ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
}

router-outlet.inner-router ~ * {
  width: 100%;
}

#firebaseui-container .firebaseui-card-footer{
  display: none;
}
#firebaseui-container .firebaseui-idp-facebook,
#firebaseui-container .firebaseui-idp-twitter,
#firebaseui-container .firebaseui-idp-github
{
  pointer-events: none;
  opacity: 0.2;
  color:black;
}

.secondary-content i{
  width: 24px;
}
.change-profile img{
  width: 100%;
}
