<div class="build-info">
  <div class="version">
    <div class="label">
      Build Version
    </div>
    <div class="value">:{{version}}</div>
  </div>
  <div class="date">
    <div class="label">
      Build Time
    </div>
    <div class="value">:{{date}}</div>
  </div>
</div>
