.build-info {
  font-family: monospace;
  font-size: 11px;
  white-space: nowrap;
}

.version,
.date {
  display: flex;
}

.label {
  flex: 3;
  text-align: left;
}

.value {
  flex:5;
  text-align: left;
}
