.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -25px;
  border-top: 6px solid teal;
  border-bottom: 6px solid teal;
  border-left: 6px solid darkblue;
  border-right: 6px solid transparent;
  border-radius: 50%;
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.loading2 {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 30px;
  width: 30px;
  margin-left: -15px;
  margin-top: -15px;
  border-top: 6px solid teal;
  border-bottom: 6px solid teal;
  border-left: 6px solid darkblue;
  border-right: 6px solid transparent;
  border-radius: 50%;
  animation-name: spin2;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-moz-keyframes spin2 {
  from {
    -moz-transform: rotate(360deg);
  }
  to {
    -moz-transform: rotate(0deg);
  }
}

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes spin2 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
