<div class="navbar-fixed">
  <nav class="teal row">
    <div class="nav-wrapper col s12">
      <ul class="left" (click)="goBack() ">
        <li>
          <a>
            <i class="material-icons back-arrow">keyboard_backspace
            </i>
          </a>
        </li>
      </ul>
      <div class="title">
         GENEL SOHBET
      </div>
      <ul class="right">
        <li>
            <i class="material-icons back-arrow">home</i>
        </li>
      </ul>
    </div>
  </nav>
</div>
  <app-chat-room [messages]="messages" (message)="sendMessage($event)" roomId="GENERAL"></app-chat-room>
