:host {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;

}

.title {
  display: inline-block;
}

.nav-wrapper {
  display: flex;
}

.title {
  flex: 1;
  text-align: center;
  font-size: 16px;
}
