:host {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content-wrapper {
  text-align: center;
  min-width: 300px;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
}

.footer {
  font-size: 22px;
  margin-top: 10px;
}
