<div class="content-wrapper">
  <div class="card-panel" [hidden]="!notLogged">
    <div>
      <div id="firebaseui-container"></div>
      <button class="btn" (click)="loginAsAdmin()" *ngIf="admin" >
        <i class="material-icons left">build</i>LOGIN AS ADMIN</button>
    </div>

  </div>
  <div class="card-panel" (click)="adminTap()">
    <div class="title">
      Vebora 2018 ™
    </div>
    <app-build-info class="build-info"></app-build-info>
    <div class="footer">
      🤟😎🤘
    </div>
  </div>
</div>
