<mat-nav-list>
  <a (click)="yes()" mat-list-item>
    <span mat-line>YES</span>
    <span mat-line>Evet çıkış yapmak istiyorum</span>

  </a>
  <a (click)="no()" mat-list-item>
    <span mat-line>NO</span>
    <span mat-line>Dur bi bekle</span>
  </a>
</mat-nav-list>
