  <nav class="teal row navbar-fixed">
    <div class="nav-wrapper col s12" *ngIf="toUser$ | async as user">
      <ul class="left" (click)="goBack()">
        <li>
          <a>
            <i class="material-icons back-arrow">keyboard_backspace
            </i>
          </a>
        </li>
      </ul>
      <div class="brand-logo center">
        <div>{{user.name | uppercase}}</div>
      </div>
      <ul class="right">
        <li>
          <img src="{{user.photoUrl}}" alt="" class="circle user-icon">
        </li>
      </ul>
    </div>
  </nav>

<app-chat-room [messages]="messages$ | async" (message)="sendMessage($event)" [roomId]="roomId"></app-chat-room>
