.brand-logo {
  font-size: 16px;
}

.user-icon {
  width: 44px;
  vertical-align: middle;
}

:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
}
nav{
  margin-bottom: 0;
}
