<div class="app-container">
  <div [@routerTransition]="getState(o)" class="router-outlet">
    <router-outlet #o="outlet" class="main-router"></router-outlet>
  </div>
</div>

<app-loading></app-loading>
